
@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@section estilos{
    <link rel="stylesheet" href="~/Contenido/estilos/IniciarSesionCss.css" />
}
<div class="iniciarSesion-contenedor">
    <div class="form-group">
        <h4>Iniciar Sesión</h4>
        <label for="txtUsuario">Usuario o correo: </label>
        <input id="txtUsuario" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="txtContrasena">Contraseña: </label>
        <input id="txtContrasena" type="password" class="form-control" />
    </div>
    <asp:Button type="button" class="btn btn-primary" ID="btnIniciarSesion" runat="server" Text="Iniciar Sesión" />
</div>
@section Scripts{
    
}


